

/* grid container styling and appended div container styles*/
.grid-container{
    display: flex;
    flex-wrap: wrap;
    width: 640px;

}

.grid-item{
    width: 40px;
    height: 40px;
    border: 1px solid black;
}