body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 50px;
    min-height: 100vh;
    height: 100vh;
    background-color: red;
}

.buttons {
    display: flex;
    padding: 10px;
    border: 2px solid black;
    border-radius: 6px;
    font-size: large;
    text-align: center;
    font-weight: bold;

}

.buttons:hover {
    background-color: gray;
}


.grid-container {
    display: flex;
    flex-wrap: wrap;
    
    min-width: 100vw;
    width: 50%;
    height: 50%;



}

.grid-item {
    display: flex;
    box-sizing: border-box;
    border: 1px solid black;
    height: 16px;
    width: 16px;
    background-color: rgb(240, 240, 240);
}